.checkbox {
    display: block;
    margin: $spacing-md 0;
    cursor: pointer;
}

.checkbox--input {
    margin-right: $spacing-md;
    display: none;
    width: 0;
    height: 0;

    + span {
        display: flex;
        flex-direction: row;
        align-items: center;

        &::before {
            font-size: $size-control;
            color: $color-check-mark;
            width: $size-control;
            height: $size-control;
            margin-right: $spacing-md;
            content: "";
            background: $color-frame-bg;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &:checked + span::before {
        content: "✓";
    }
}

.checkbox:hover span::before {
    background: $color-frame-bg-hovered;
}

.checkbox--input:active span::before {
    background: $color-frame-bg-active;
}
