$color-button: #4296fa66;
$color-button-hovered: #4296faff;
$color-button-active: #0f87faff;
$color-slider-grab: #3d85e0ff;
$color-slider-grab-active: #4296faff;
$color-check-mark: #4296faff;
$color-title-bg: #0a0a0aff;
$color-title-bg-active: #294a7aff;
$color-title-bg-collapsed: #00000082;
$color-frame-bg: #294a7a8a;
$color-frame-bg-hovered: #4296fa66;
$color-frame-bg-active: #4296faab;
$color-popup-bg: #141414f0;
$color-border: #6e6e8080;
$color-text: #ffffffff;
$color-text-disabled: #808080ff;
$color-window-bg: #0f0f0ff0;

$size-control: 1.2rem;
$size-sidebar: 14rem;
$size-wide-control: 7rem;
$spacing-sm: 0.25rem;
$spacing-md: 0.5rem;
$spacing-lg: 1rem;
$font-size-sm: 0.7rem;
$font-size-md: 0.85rem;
$font-size-lg: 1rem;
