.flexContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    margin: 5px 0 10px 0;
    /* background-color: ivory; */
}
.flexItem {
    font-size: 20px;
    text-align: center;
    margin: 5px 15px;
    /* background-color: orange; */
}

/***************************************************************************************************/

button {
    height: 40px;
    font-size: 20px;
    background-color: #e7e7e7;
    color: black;
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: gray;
    color: white;
}

input[type="checkbox"] {
    font-size: 20px;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin: 0 6px 0 0;
}

label {
    position: relative;
    top: 1px;
}

input[type="radio"] {
    font-size: 20px;
    width: 26px;
    height: 26px;
    vertical-align: middle;
}

select {
    font-size: 20px;
}

/***************************************************************************************************/

input[type="range"] {
    -webkit-appearance: none;
    background: none;
    width: 300px;
    height: 30px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #ccc;
    height: 10px; /*trackHeight*/
    border-radius: 5px; /*trackHeight*/
    transition: 0.3s;
}

input[type="range"]::-moz-range-track {
    background: #ccc;
    height: 10px; /*trackHeight*/
    border-radius: 5px; /*trackHeight*/
    /*background isn't animatable, so can't use transition*/
}

input[type="range"]::-ms-track {
    background: #ccc;
    height: 10px; /*trackHeight*/
    border-radius: 5px; /*trackHeight*/
    /* border: none; */
    /* color: transparent; */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #ff0000;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-top: -10px;
}

input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #ff0000;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid #fff;
}

input[type="range"]::-ms-thumb {
    width: 24px;
    height: 24px;
    background: #ff0000;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin: 0 4px 0; /*0 thumbBorderWidth 0*/
    box-shadow: 0 0 0 4px #fff;
}

.greenrange input[type="range"]::-webkit-slider-thumb { background: #008000; }
.greenrange input[type="range"]::-moz-range-thumb { background: #008000; }
.greenrange input[type="range"]::-ms-range-thumb { background: #008000; }
.bluerange input[type="range"]::-webkit-slider-thumb { background: #0000ff; }
.bluerange input[type="range"]::-moz-range-thumb { background: #0000ff; }
.bluerange input[type="range"]::-ms-range-thumb { background: #0000ff; }
.orangerange input[type="range"]::-webkit-slider-thumb { background: #FF8000; }
.orangerange input[type="range"]::-moz-range-thumb { background: #FF8000; }
.orangerange input[type="range"]::-ms-range-thumb { background: #FF8000; }
.grayrange input[type="range"]::-webkit-slider-thumb { background: #888; }
.grayrange input[type="range"]::-moz-range-thumb { background: #888; }
.grayrange input[type="range"]::-ms-range-thumb { background: #888; }

.colorrange input[type="range"]::-webkit-slider-runnable-track { background: url('https://javalab.org/lee/visible_light.png'); }
.colorrange input[type="range"]::-moz-range-track { background: url('https://javalab.org/lee/visible_light.png'); }
.colorrange input[type="range"]::-ms-track { background: url('https://javalab.org/lee/visible_light.png'); }
.colorrange input[type="range"]::-webkit-slider-thumb {
    border: 3px solid #888;
    background: none;
    box-shadow: none;
}
.colorrange input[type="range"]::-moz-range-thumb {
    border: 3px solid #888;
    background: none;
}
