.button {
    display: block;
    width: 100%;
    font-size: $font-size-sm;
    border: none;
    color: $color-text;
    background: $color-button;
    padding: $spacing-sm $spacing-md;
    margin-bottom: $spacing-md;

    &:hover {
        background: $color-button-hovered;
        cursor: pointer;
    }
    &:active {
        background: $color-button-active;
    }
}
